<div class="m-5 border-b-2 pb-5">
  <div class="flex">
    <div class="w-4/6">
      <img src="{{ business.mainPhoto}}" alt="Toyko Station">
    </div>
    <div class="px-2 w-2/6 text-center break-all flex flex-col justify-around">
      <h4>{{ business.business_name}}</h4>
      <p>{{ business.phone }}</p>
      <p>{{ business.address }}</p>
      <a href="{{ business.website}}" class="underline text-cyan-600">{{ business.website}}</a>
    </div>
  </div>
</div>
