
{{> header}}
{{> business}}
<div class="pb-10">
  <div class="flex justify-between">
    <p class="text-white">.</p> 
    <p class="text-center underline text-xl">Reviews</p>
    <button id="add" class="mr-2 h-12 bg-transparent hover:bg-stone-500 font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded">Add a Review</button>
  </div>
  {{#each reviews}}
  <div class="w-full flex flex-wrap border-b m-5 px-5">
    <h1 class="w-full">Review from <strong id="{{user.id}}">{{user.username}}</strong>:</h1>
    <p class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{stars}} Stars</p>
    <p class="text-black">{{review_text}}</p>
    
  </div>
  {{/each}}
</div>


<div id="myModal" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full bg-black bg-opacity-30">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">
    <div class="relative bg-white rounded-lg">
      <div class="flex justify-between">
        <p  id="business" data-id="{{business.id}}" class="p-3">Add a New review for {{business.business_name}}</p>
        <button id="X" class="text-xl bg-transparent hover:bg-stone-500 text-black font-semibold hover:text-white px-3 border border-black hover:border-transparent rounded ">X</button>
      </div>
      <div class="p-3">
        <label for="review_text">Review:</label>
        <input type="text" id="review_text" name="review_text" class="rounded shadow-2xl border"/>
      </div>
      <div class="p-3">
        <label for="stars">stars:</label>
        <select id="stars" name="stars" class="rounded shadow-2xl border">
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
      </div>
      <button id="submitReview" class="m-6 h-16 bg-transparent hover:bg-stone-500 font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded">Submit</button>
    </div>
    
  </div>
</div>

<script src="/javascript/addReview.js"></script>