
{{> header}}
<div class="w-full flex sm:justify-between sm:flex-row flex-col items-center">
  <div id="category" data-id="{{categories.id}}" class="sm:text-6xl text-3xl text-center mt-3 capitalize sm:px-4 sm:w-2/6 w-10/12">{{ categories.category_name }}</div>
    <button id='add' class="m-6 h-16 bg-transparent hover:bg-stone-500 font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded md:w-2/6 w-10/12"> Add a {{ categories.category_name }}</button>
</div>
<div class="mb-20 flex flex-wrap md:justify-center" id="wrapper">
{{#each business}}
  <a href="../business/{{id}}" id="b-box" class="shadow-xl relative w-96 h-96 rounded overflow-hidden m-5">
    <img src="{{mainPhoto}}" class="object-cover w-full h-full">
    <p id="b-name" class="absolute w-full bottom-0 inset-x-0 h-2/4 text-white font-bold text-4xl text-center leading-8">{{ business_name }}</p>
  </a>
{{/each}}
</div>

<div id="myModal" class=" hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full bg-black bg-opacity-30">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">
    <div class="relative bg-white rounded-lg">
      <div class="flex justify-between">
        <p class="p-3">Add a New {{categories.category_name}}</p>
        <button id="X" class="text-xl bg-transparent hover:bg-stone-500 text-black font-semibold hover:text-white px-3 border border-black hover:border-transparent rounded ">X</button>
      </div>
      <div class="p-3">
        <label for="business-name">Busniess Name:</label>
        <input type="text" id="business-name" name="business-name" class="rounded shadow-2xl border"/>
      </div>
      <div class="p-3">
        <label for="business-website">Business Website:</label>
        <input type="text" id="business-website" name="website" class="rounded shadow-2xl border"/>
      </div>
      <div class="p-3">
        <label for="business-phone">Business phone:</label>
        <input type="text" id="business-phone" name="phone" class="rounded shadow-2xl border"/>
      </div>
      <div class="p-3">
        <label for="business-address">Business address:</label>
        <input type="text" id="business-address" name="address" class="rounded shadow-2xl border"/>
      </div>
      <div class="p-3">
        <label for="business-mainPhoto">Business Photo (url only):</label>
        <input type="text" id="business-mainPhoto" name="photo" class="rounded shadow-2xl border"/>
      </div>
      <button id="submit" class="m-6 h-16 bg-transparent hover:bg-stone-500 font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded">Submit</button>
    </div>
    
  </div>
</div>


<script src="/javascript/category.js"></script>